admesh
admesh-*/
cmake-build-debug/
.idea/
.libs/
m4/
.deps/
aclocal.m4
ar-lib
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
*.la
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
*.o
*.pc
stamp-h1
*.tar.*
compat_reports
AUTHORS
ChangeLog